extends layout

include _includes/sharedHTMLfunctions

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= title
                    small &nbsp; #{subtitle}
    .row
        .col-xs-12.col-sm-8
            .row.list-group
                each mission in missions
                    .col-xs-12.list-group-item
                        h4
                            a(href='/mission')= mission.name
                            small &nbsp;
                                +outputRating(mission.rating)
                            span.badge.pull-right.badge-default 100m
                        p.author= mission.author
                        p
                            each tag in mission.tags
                                span.label.label-warning= tag
                                | &nbsp;
        .col-xs-12.col-sm-4
            p.lead Looking for Missions to solve and friends to meet? AirLoft helps you explore similar minds around you!